<style>
	.control-label {
		text-align:right;
	}
	.form .well {
		padding-bottom:30px;
	}
</style>
<div class="view">
	<div class="view-title">
		<h2>New Student</h2>
	</div>
	<div class="view-content">
		<form class="form">
			<div class="panel panel-default">
				<div class="panel-header"></div>
				<div class="panel-body">
					<div class="form-group">
						<label class="control-label col-md-4">Firstname</label>
						<div class="col-md-8">
							<input type="text" class="form-control">
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="view-controls">
		<a href="#" class="btn btn-default btn-primary">Save</a>
		<a href="#" class="btn btn-default btn-danger">Cancel</a>
	</div>
</div>