<div class="view">
  <div class="view-title">
    <h2>Student List</h2>
  </div>
  <div class="view-controls">
    <a href="#" class="btn btn-default">Add</a>
  </div>
  <div class="view-content">
	  <div class="table-responsive">
  		<table class="table">
	      <thead>
	        <tr>
	          <th>Student No.</th>
	          <th>First Name</th>
	          <th>Middle Name</th>
	          <th>Last Name</th>
	          <th>Gender</th>
	          <th>Home Phone</th>
	          <th>Mobile Phone</th>
	          <th>Fax Number</th>
	          <th>Address</th>
	          <th>City</th>
	          <th>Postal Code</th>
	          <th>Mother</th>
	          <th>Father</th>
	          <th></th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td class="row-ctrl">
	          	<a href="#" class="glyphicon glyphicon-pencil" title="Edit Student"></a>
	          	<a href="#" class="glyphicon glyphicon-trash" title="Delete Record"></a>
	          	<a href="#" class="glyphicon glyphicon-th-list" title="Generate SOA"></a>
	          </td>
	        </tr>
	        <tr>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	          <td>3</td>
	        </tr>
	      </tbody>
	    </table>
	  </div>
  </div>
</div>